@import './App';

div.animalPhotosContainer {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc((60vh - 1.7rem - 41px) * 0.3 - 13px);
}

.animalPhotosThumbnails {
  height: 100%;
  min-width: 70px;
  margin: 3px;
  object-fit: contain;
}

.animalPhotosThumbnails.selected {
  border: solid $colorEmphasisGreen 1px;
}