@import './App';

.animalCard {
  background: linear-gradient(120deg, $colorBasic, $colorDark);
  border: solid $colorEmphasisGreen;
  border-width: 0.1rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px 0px $colorEmphasisGreen;
  color: $colorLight;
  font-size: medium;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  position: relative;
  min-width: 425px;
  height: calc(100vh - 240px - 4.5rem);
}

.animalType.leftOriented {
  right: 0;
  order: 3;
}

.animalType.rightOriented {
  left: 0;
  order: 1;
}

.animalTypeImg {
  max-width: 35px;
  max-height: 35px;
}

.cardHeader {
  color: $colorEmphasisOrange;
  font-weight: bold;
  font-size: x-large;
  min-width: 125px;
}

.cardHeader.leftOriented {
  //text-align: left;
  order: 1;
}

.cardHeader.rightOriented {
  //margin-left: 2rem;
  order: 3;
}

.cardInfo {
  text-overflow: ellipsis;
  display: inline-block;
  align-items: center;
  font-size: small;
  color: $colorEmphasisGreen;
  margin: 0 0.5rem 0 0.5rem;
  order: 2;
}

.cardInfo.leftOriented {
  justify-content: flex-start;
}

.cardInfo.rightOriented {
  justify-content: flex-end;
}

.cardDate {
  //margin: 0 0.5rem;
}

.cardCoordsNumber {
  text-align: end;
}

.cardImgViewer {
  min-width: 255px;
  height: calc(100vh - 240px - 5rem - 41px);
}

.cardImgViewer.rightOriented {
  grid-column: 1 / span 1;
}

.cardImgViewer.leftOriented {
  grid-column: 2 / span 1;
}

.iconAnimal {
  width: 41px;
  height: 41px;
  background-size: cover;
}

.iconDog {
  background-image: url("./img/dog/dog.svg");
  width: 48px;
}

.iconDogF {
  background-image: url("./img/dog/female.svg");
  width: 36px;
}

.iconDogM {
  background-image: url("./img/dog/male.svg");  
  width: 45px;
}

.iconCat {
  background-image: url("./img/cat/cat.svg");
}

.iconCatF {
  background-image: url("./img/cat/female.svg");
  width: 33px;
}

.iconCatM {
  background-image: url("./img/cat/male.svg");
  width: 47px;
}

.iconAnimal:hover,
.iconAnimal:focus {
  fill: $colorEmphasisOrange;
  stroke: $colorEmphasisGreen;
}

.headerLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardCommentText {
  max-height: 300px;
  overflow-y: auto;
  height: calc(100vh - 240px - 5rem - 41px - 24px - 5rem)
}

.cardComment {
  grid-row: 1;
  min-width: 170px;
  height: calc(100vh - 240px - 5rem - 41px - 24px);
  padding: 12px;
}

.cardComment.leftOriented {  
  grid-column: 1 / span 1;
}

.cardComment.rightOriented {  
  grid-column: 2 / span 1;
}

.animalCardMain {
  display: grid;
  height: calc(100vh - 240px - 5rem - 41px);
  margin: 0.5rem 0 0 0;
}

.animalCardMain.leftOriented {
  grid-template-columns: 40% 60%;
}

.animalCardMain.rightOriented {
  grid-template-columns: 60% 40%;
}

.linkToSource {
  margin-bottom: 25px;
  border: solid 1px $colorLight;
  color: $colorLight;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  padding: 0px 10px 3px 10px;
}

.linkToSourceContainer {
  position:relative;
  white-space: nowrap;
  overflow-x: hidden;
}

.linkToSourceSpan {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.cardSourceImg {
  max-width: 80px;
  vertical-align: middle;
}

.linkToSourceInternalDiv {
  color: $colorLight;
}

a:link {
  text-decoration: none;
}