$colorLight:#ffedca;
$colorBasic:#260101;
$colorEmphasisGreen: #898C37;
$colorEmphasisOrange: #c34818;
$colorDark: #0D0000;

@media (prefers-reduced-motion: no-preference) {
}

.animalGender {
  font-size: x-small;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AppModeViewer {
  grid-column-start: 2;
  grid-column-end: 2;
  background: $colorLight;
  color: $colorDark;
  height: 100vh;
}

#appStateMenu {
  background: $colorDark;
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100vh;
}

#appStateMenu .menuItem {
  margin: 0px;
  padding: 2px;
  border: 2px solid #ffffff00 ;
  width: calc(100% - 8px);
}

#appStateMenu .activePage .menuItem,
#appStateMenu :hover .menuItem {
  border-left: 2px solid $colorEmphasisOrange ;
}

#appStateMenu .menuItem img {
  width: 100%;
}

#appStateMenu :not(.activePage) .menuItem img.active {
  display: none;
}

#appStateMenu .activePage .menuItem img.active {
  display: block;
}

#appStateMenu :not(.activePage) .menuItem img.inactive {
  display: block;
}

#appStateMenu .activePage .menuItem img.inactive {
  display: none;
}

.cardItemHeader {
  color: #898C37;
  font-size: small;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

#headerCornerDiv {
  background: $colorLight;
  color: $colorLight;
  justify-content: stretch;
  align-self: center;
}

#headerLogo {  
  max-width: 100%;
}

#lowestDiv {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  background: $colorBasic;
}

.parentDiv {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto;
  justify-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  height: 100%;
  overflow: hidden;
}

div.landing-container {
  height: calc(100vh - 5em);
  overflow-y: auto;
}

html, body, div.root {
    height: 100%;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $colorEmphasisOrange $colorBasic;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: $colorBasic;
}

*::-webkit-scrollbar-thumb {
  background-color: $colorEmphasisOrange;
  border-radius: 20px;
  border: 3px solid $colorEmphasisOrange;
}