@import './App';

p.attentionInfo {
    color: $colorEmphasisOrange;
}

.cardDiffViewer {
    max-width: 68px;
    min-width: 50px;
    font-size: small;
    color: $colorDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardDiffIcons {
    width: 40px;
    height: 40px;
    display: block;
}

.cardDiffGenderIcon {
    width: 40px;
    height: 90px;
}

.cardDiffItems {
    margin: 10px 0 10px 0;
}

.cardDiffWarnings {
    max-height: calc(60vh - 120px);
}