@import './App';

.carouselImgViewer {
    //display: grid;
    //grid-template-columns: 2rem auto 2rem;
    //grid-template-rows: auto auto 1rem;
    height: calc(100vh - 240px - 5rem - 41px);
  }
  
  .carouselImgViewerMainPhoto {
    //grid-column-start: 2;
    //grid-column-end: 2;
    grid-row: 1 / span 1;
    justify-content: center;
    min-width: 255px;
    align-items: center;
    display: flex;
    height: calc((100vh - 240px - 5rem - 41px) * 0.7);
  }
  
  .carouselImgViewerMainImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .carouselImgViewer2row {
    display: grid;
    grid-template-rows: auto 13px;
    grid-template-columns: 13px auto 13px;
    height: calc((100vh - 240px - 5rem - 41px) * 0.3);
  }
  
  .carouselImgViewerGoLeft {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    cursor: pointer;
  }
  
  .carouselImgViewerMiniPhotos {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    place-self: center;
  }
  
  .carouselImgViewerGoRight {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    cursor: pointer;
    justify-self: end;
  }
  
  .carouselImgViewerDots {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    width: 60%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .carouselDots {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .carouselSelectedDot {
    color: $colorEmphasisGreen;
  }
  
  .carouselImgViewerMainPhoto.onePhotoCard {
    height: calc(100vh - 240px - 5rem - 41px);
  }