//@import "Header.scss";

div.faq-page {
    height: 100vh;
}

div.faq-text {
    margin: 1em;
    height: calc(100% - 2em /*for margin*/ - 1.5em /* for header */ - 3em);
    overflow: auto;
}

div.faq-text h2 {
    margin-bottom: 0em;
    margin-top: 0.5em;
}

div.faq-text p {
    margin-left: 1em;
    margin-top: 0.2em;
}

div.logos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    flex-wrap: wrap; 
}

div.logos-container img {
    max-height: 60px;
    margin: 25px;
}

