@import './App';

$header_div_height: 1.5em;

.headerDiv {
    background: $colorBasic;
    color: $colorEmphasisOrange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-weight: bolder;
    height: $header_div_height;
}
  
.displayNone {
    display: none;
}